# Import the Required Librairies

In [11]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns
import os
plt.style.use('ggplot')
#To show  200 columns of the Dataframe
pd.set_option('max_info_columns', 200)

# Load the Dataset

In [17]:
#Data=pd.read_csv(os.path.join(os.path.dirname(__file__), "data\processed\Data.csv"))

Data=pd.read_csv(r"C:\Users\kabir\Projects\Projects_Acadimic\Amazigh_handwritten_character_recognition\data\processed\Data.csv")

#  Let us show the shape of the Data

In [20]:
Data.shape

(25740, 2)

# this Command is used to show the top 5 examples

In [21]:
Data.head()

                                                path classe
0  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya
1  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya
2  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya
3  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya
4  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya

# If we want to display the last 5 examples we use the tail function

In [23]:
 Data.tail()

                                                    path classe
25735  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     yu
25736  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     yu
25737  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     yu
25738  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     yu
25739  C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     yu

# This is the command that lets us know which columns the dataset contains

In [24]:
Data.columns

Index(['path', 'classe'], dtype='object')

# To see which type   our dataset is  use this Command

In [25]:
Data.dtypes

path      object
classe    object
dtype: object

# To return descritption of the data we use  describe function

In [38]:
Data.describe()

                                                     path classe
count                                               25740  25740
unique                                              25740     33
top     C:\Users\kabir\Projects\Projects_Acadimic\Amaz...     ya
freq                                                    1    780

# Feature Understanding